.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 70rem;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 2rem;
}

.link {
  color: #004985;
  font-weight: 600;
}
