.container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  padding: 1rem 0;
  max-width: 70rem;
  width: 100%;
}

.boxContainer {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  border-radius: 5px;
  background-color: white;
}

.title {
  color: #186aaf;
  font-size: 1.3rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem;
}

.content {
  color: #545459;
  font-size: 14px;
}
